<app-navbar></app-navbar>
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="display-1 text-center">Đăng ký</h1>
        <div class="form-item w-100">
          <label class="form-label my-3">Tên tài khoản</label>
          <input type="text" class="form-control p-3">
        </div>
        <div class="form-item w-100">
          <label class="form-label my-3">Mật khẩu</label>
          <input type="password" class="form-control p-3">
        </div>
        <div class="row g-4 pt-4">
          <div class="col">
            <a class="btn border-secondary rounded-pill py-3 px-5 text-primary d-flex justify-content-center"
               href="index.html">Đăng nhập</a>
          </div>
          <div class="col">
            <a class="btn border-secondary rounded-pill py-3 px-5 text-primary d-flex justify-content-center"
               href="index.html">Quên mật khẩu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
